.App {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.navbar {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 106px;
    left: 0;
    top: 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 1px solid #C4C4C4 !important;
}

    .navbar .logo {
        position: relative;
        width: 60px;
        height: 54px;
        align-items: start;
    }

    .navbar .icon-container {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: end;
        margin-right: 70px;
    }

        .navbar .icon-container .icon {
            cursor: pointer;
        }


    .navbar .navigation {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 75px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

        .navbar .navigation .nav-active a {
            text-decoration: none;
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 35px;
            display: flex;
            align-items: center;
            color: #E84E0F;
        }

.navigation .nav-active a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E84E0F;
    transition: width 0.3s ease;
}

.navigation .nav-li a {
    text-decoration: none;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #060606;
}

    .navigation .nav-li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #E84E0F;
        transition: width 0.3s ease;
    }

    .navigation .nav-li a:hover::after {
        width: 100%;
    }

    .navigation .nav-li a:hover {
        color: #E84E0F;
    }

.footer-area {
    position: relative;
    width: 100%;
    height: 491px;
    padding: 90px;
    background: #060606;
}

    .footer-area .container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        left: -221px;
        padding: 0px;
        max-width: 900px;
    }

        .footer-area .container .col {
            width: 277px;
            height: 311px;
            flex: none;
            order: 0;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            gap: 160px;
        }

.footer-logo {
    position: absolute;
    width: 80px;
    height: 71px;
    left: 0px;
    top: 0px;
}

.footer-area .container .col .col-group {
    position: relative;
    width: 277px;
    height: 175px;
    left: 0px;
    top: 139px;
}

.footer-area .container .col .col-group2 {
    position: relative;
    width: 277px;
    height: 311px;
    left: 0px;
}

.footer-area .container .col .col-group3 {
    position: relative;
    left: 85px;
}

.footer-area .container .col .col-group4 {
    position: relative;
    width: 107px;
    height: 311px;
    left: 109px;
}

    .footer-area .container .col .col-group4 .icon-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
        position: relative;
        width: 168px;
        height: 30px;
        left: -30px;
        top: 50px;
        cursor: pointer;
    }

        .footer-area .container .col .col-group4 .icon-group::before {
            opacity: 0;
        }

.footer-area .container .col .col-group .group1-item {
    position: relative;
    width: 273px;
    height: 13px;
    left: 0;
    top: 50px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-decoration-line: underline;
    color: #FCFCFC;
    cursor: pointer;
}

.group2-item {
    position: relative;
    width: 138px;
    height: 13px;
    left: 0px;
    top: 0px;
    margin-bottom: 25px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
    cursor: pointer;
}

#group-header {
    position: relative;
    width: 64px;
    height: 18px;
    left: 0px;
    top: 0px;
    margin-bottom: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
}

#copyright {
    position: relative;
    width: 277px;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #A0A0A0;
}

#date {
    position: relative;
    width: 277px;
    height: 13px;
    margin-top: 35px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14x;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #A0A0A0;
}