@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.App {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.navbar {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 106px;
    left: 0;
    top: 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 1px solid #C4C4C4 !important;
}

    .navbar .logo {
        position: relative;
        width: 60px;
        height: 54px;
        align-items: start;
        margin-left: 50px;
    }

    .navbar .icon-container {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: end;
        margin-right: 70px;
    }

        .navbar .icon-container .icon {
            cursor: pointer;
        }


    .navbar .navigation {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 90px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

        .navbar .navigation .nav-active a {
            text-decoration: none;
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 35px;
            display: flex;
            align-items: center;
            color: #E84E0F;
        }

.navigation .nav-active a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E84E0F;
    transition: width 0.3s ease;
}

.navigation .nav-li a {
    text-decoration: none;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #060606;
}

    .navigation .nav-li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #E84E0F;
        transition: width 0.3s ease;
    }

    .navigation .nav-li a:hover::after {
        width: 100%;
    }

    .navigation .nav-li a:hover {
        color: #E84E0F;
    }

.main-container .header .top-header {
    width: 100%;
    height: 500px;
    margin-top: 106px;
    font-family: 'Source Sans Pro';
    color: #060606;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

    .main-container .header .top-header .big-header {
        font-weight: 600;
        font-size: 100px;
        letter-spacing: 2px;
    }

    .main-container .header .top-header #h-2 {
        position: relative;
    }

    .main-container .header .top-header .sub-header {
        position: relative;
        left: 30px;
        top: 15px;
        font-size: 20px;
    }

.horizontal-group {
    display: flex;
    align-items: center;
}

.banner {
    width: 100%;
    height: auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

    .banner .banner-container {
        width: 90%;
        height: 357px;
    }

        .banner .banner-container .banner-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }

        .banner .banner-container .search-container {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            height: 100px;
            background: #FCFCFC;
            box-shadow: 0px 5px 20px 3px rgba(6, 6, 6, 0.08);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0 20px;
        }

.search-item {
    height: 60px;
    background: #FCFCFC;
    border: 1px solid #A0A0A0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .search-item.item-1 {
        flex: 2;
    }

    .search-item.item-2,
    .search-item.item-3 {
        flex: 1;
    }

    .search-item.item-4 {
        flex: 1.5;
    }

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 33px;
    width: 76px;
    height: 60px;
    background: #E84E0F;
    border-radius: 12px;
    cursor: pointer;
}

    .search-btn .btn-search {
        width: 30px;
        height: 30px;
    }

    .date-picker {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        padding: 0 10px;
        color: transparent;
        cursor: pointer;
    }

.label-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-left: 5px;
}

.label-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #060606;
    margin: 5px 0 0 0;
}

.label-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0 0 -35px 0;
}