* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.login-container {
    position: absolute;
    width: 480px;
    height: 788px;
    left: calc(50% - 480px/2);
    top: 3%;
    background: #060606;
    box-shadow: 0px 3px 20px 3px rgba(6, 6, 6, 0.14);
    border-radius: 20px;
    z-index: 998;
}

    .login-container .registration {
        display: none;
    }

#check:checked ~ .registration {
    display: block;
}

#check:checked ~ .login {
    display: none;
}

#check {
    display: none;
}

.form .close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(90% - 20px/2 + 3px);
    top: 42px;
    cursor: pointer;
}

.form header {
    position: relative;
    width: 271px;
    height: 24px;
    left: calc(50% - 271px/2 + 15px);
    top: 100px;
    font-weight: 700;
    font-size: 30.5px;
    line-height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
}

.form .form-header {
    position: relative;
    left: 30px;
    top: 150px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
}

.form .form-input {
    box-sizing: border-box;
    position: relative;
    width: 420px;
    height: 55px;
    left: 30px;
    top: 140px;
    border: 1px solid #A0A0A0;
    border-radius: 8px;
    background-color: #060606;
    color: white;
    padding-left: 20px;
}

    .form .form-input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }

.form input.button {
    position: relative;
    height: 50px;
    width: 420px;
    padding: 5px 20px;
    background: #E84E0F;
    border-radius: 8px;
    left: 30px;
    top: 160px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    transition: ease all 0.5s;
}

    .form input.button:hover {
        background: #CA4008;
    }

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A0A0A0;
    margin: 165px 0;
}

    .divider .line {
        flex: 1;
        height: 1px;
        background-color: #A0A0A0;
        opacity: 0.5;
        margin: 0 30px;
    }

    .divider .text {
        white-space: nowrap;
        font-size: 16px;
    }

.other {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -150px;
}

    .other .other-item {
        height: 50px;
        padding: 5px 20px;
        margin-top: 20px;
        margin-left: 30px;
        width: 420px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 14px 121px;
        gap: 14px;
        background: #FCFCFC;
        box-shadow: 0px 3px 20px 3px rgba(6, 6, 6, 0.14);
        border-radius: 8px;
        cursor: pointer;
    }

        .other .other-item .other-icon {
            position: relative;
            width: 24px;
            height: 24px;
            left: 5px;
        }

        .other .other-item .other-text {
            position: relative;
            left: 5px;
            top: 5px;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            color: #060606;
        }

.footer-text {
    position: relative;
    width: 387px;
    height: 29.91px;
    left: calc(50% - 387px/2 + 0.5px);
    top: -45px;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #A0A0A0;
}

.code-container {
    position: absolute;
    width: 480px;
    height: 487px;
    left: calc(50% - 480px/2);
    top: 3%;
    background: #060606;
    box-shadow: 0px 3px 20px 3px rgba(6, 6, 6, 0.14);
    border-radius: 20px;
    z-index: 998;
}

.form .back-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(10% - 20px/2 + 3px);
    top: 42px;
    cursor: pointer;
}

.form #code-header {
    position: absolute;
    width: 320px;
    height: 24px;
    left: calc(50% - 320px/2);
    top: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
}

.form .code-header {
    position: relative;
    width: 486px;
    height: 58px;
    left: calc(50% - 486px/2);
    top: 145px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FCFCFC;
}

.form .code-subheader {
    position: absolute;
    width: 486px;
    height: 10px;
    left: calc(50% - 486px/2 + 40px);
    top: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #A0A0A0;
}

.code-input-form .code-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 210px;
    width: auto;
}

.code-input {
    width: 52px;
    height: 66px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #A0A0A0;
    border-radius: 8px;
    background-color: #060606;
    color: #f7f7f7;
    outline: none;
    transition: border 0.2s;
}

    .code-input:focus {
        border-color: #d44007;
    }

.code-input-form input.button {
    position: relative;
    width: 406px;
    left: calc(50% - 406px/2);
    top: 50px;
}

.resend-btn {
    position: relative;
    width: 248px;
    height: 13px;
    left: calc(50% - 248px/2);
    top: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #E84E0F;
    cursor: pointer;
}