body {
    color: #999;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.section {
    padding: 90px 0;
    float: left;
    width: 100%;
}

.top-area {
    background: #157fda;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation {
    padding-bottom: 15px;
}

.navbar-fixed-top {
    background: #fff;
}

.navbar-nav {
    margin-top: 15px;
}

.navbar-brand img {
    width: 220px;
}

.navbar-custom {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

    .navbar-custom ul.nav li a {
        font-size: 13px;
        letter-spacing: 1px;
        color: #666;
        text-transform: uppercase;
        font-weight: 700;
        background-color: transparent;
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li.active a {
        color: #157fda;
    }

h1,
h2 {
    font-weight: bold;
    font-size: 34px;
    padding: 0 0 10px 0;
    color: #1f1f1f;
    margin: 0
}

.heading h2::after {
    width: 50px;
    height: 4px;
    background: #39b49b;
    content: "";
    display: block;
    margin: 10px auto 0;
}

.heading {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 0 50px 0;
}

    .heading h2 {
        font-size: 35px;
        font-weight: 400;
        color: #333;
        margin: 5px 0;
        position: relative;
    }

h4 {
    font-weight: 600;
    font-size: 17px;
    color: #0071d1;
}

h5 {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.25rem
}

.message-box p {
    margin-bottom: 20px;
}

.hr1 {
    margin: 60px 0;
    border: 1px dashed #f0f0f0;
}

h3 {
    font-size: 16px;
    color: #ffffff;
    padding: 12px 0 12px;
    margin: 0;
    background: #157fda;
    text-align: center;
}

a,
.btn {
    color: #ffffff;
    text-decoration: none !important;
}

.effect-1 {
    display: inline-block;
    position: relative;
}

    .effect-1:after {
        position: absolute;
        top: -7px;
        left: -7px;
        padding: 7px;
        width: 100%;
        height: 100%;
        content: '';
        box-sizing: content-box;
        transition: transform 0.2s, opacity 0.2s;
        transform: scale(.8);
        opacity: 0;
        box-shadow: 0 0 0 2px #39b49a;
    }

    .effect-1:hover:after {
        transform: scale(1);
        opacity: 1;
    }

    .effect-1:after,
    .btn-brd {
        border-radius: 100px;
    }

.btn-light {
    padding: 13px 40px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
}

    .btn-light:hover {
        color: #ffffff;
        background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    }

.AboutImage {
    margin-top: -25%;
    width: 50%;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-right: 1rem;
}

.copyright-area {
    padding: 20px 0px;
    background: #157fda;
    color: #fff;
    float: left;
    width: 100%;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    position: relative;
    top: 35px;
    left: 50px;
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 20px;
}

.overflow-hidden {
    overflow: hidden !important
}

.d-flex {
    display: flex !important
}

.flex-column {
    flex-direction: column !important
}

.bg-primary {
    background-color: #157fda !important
}

.bg-light {
    background-color: #EFF5FF !important
}

.bg-white {
    background-color: #fff !important
}

.rounded-circle {
    border-radius: 50% !important
}

.icon {
    position: relative;
    top: 17px;
    left: 18px;
    color: #157fda;
    z-index: 1;
    font-size: 2rem;
}

.about-text {
    position: relative;
    left: 20px;
}

.contact-section {
    float: left;
    width: 100%;
    min-height: 450px;
}

.contact-section {
    position: relative;
}

.form-contant {
    float: left;
    position: absolute;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
    padding: 60px;
}

    .form-contant input,
    .form-contant textarea {
        background: transparent;
        padding: 0;
        border: none;
        border-bottom: solid #fff 2px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 15px;
    }

.actions {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#submitButton {
    padding: 15px 30px;
    background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    transition: ease all 1s;
}

    #submitButton:hover {
        background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    }

.logo img {
    width: 250px;
    margin-bottom: 30px;
}

.footer-info h3,
.subcriber-info h3 {
    color: #222;
    font-size: 22px;
    font-weight: 600;
    border-left: solid #157fda 5px;
    padding: 0 0 0 15px;
    margin-bottom: 24px;
    background-color: transparent;
}

.footer-info i {
    position: absolute;
    left: 0;
    font-size: 25px;
    width: 30px;
    text-align: center;
    color: #157fda;
}

.footer-info p {
    padding-left: 40px;
    margin-bottom: 15px;
}

.newsletter-form input {
    height: 50px;
    width: 80%;
    padding: 5px 20px;
    background: #eee;
    float: left;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.newsletter-form .mc-submit {
    height: 50px;
    width: 20%;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    border: none;
    font-size: 24px;
    position: relative;
    display: inline-block;
    text-align: center;
}

    .newsletter-form .mc-submit:hover {
        background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    }

.btn {
    border: 0 !important;
}

.service-item {
    transition: .5s;
    margin-bottom: 20px;
    box-sizing: border-box;
}

    .service-item:hover {
        margin-top: -10px;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
    }

    .service-item .btn {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 40px;
        white-space: nowrap;
        overflow: hidden;
        transition: .5s;
    }

    .service-item:hover .btn {
        width: 150px;
    }

.servise-row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.g-4,
.gy-4 {
    --bs-gutter-y: 1.5rem
}

.d-inline-flex {
    display: inline-flex !important
}

.justify-content-center {
    justify-content: center !important
}

.align-items-center {
    align-items: center !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.me-3 {
    margin-right: 1.2rem !important
}

.p-5 {
    padding: 3rem !important
}

.fs-4 {
    font-size: calc(1.275rem + .3vw) !important
}

.appointment-form {
    float: left;
    width: 100%;
    background: #fff;
    min-height: 425px;
    box-shadow: 0 0 50px -22px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

    .appointment-form h3 {
        float: left;
        margin: 0;
        background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
        width: 100%;
        color: #fff;
        padding: 15px 25px;
        font-size: 18px;
        font-weight: 600;
    }

.center {
    float: left;
    width: 100%;
    justify-content: center;
    display: flex;
}

.services {
    width: 100%;
    background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    padding: 75px 0;
}

.services {
    width: 100%;
    padding: 75px 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}

.form-group button {
    background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
    transition: ease all 1s;
    font-weight: 600;
}

    .form-group button:hover,
    .form-group button:focus {
        background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    }

.select-section div.form-group:nth-child(1) {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.select-section div.form-group:nth-child(2) {
    float: left;
    width: 49%;
}

.form-group {
    float: left;
    width: 100%;
    margin: 0;
}

    .form-group input,
    .form-group select {
        float: left;
        width: 100%;
        border-radius: 0;
        border: solid #ccc 1px;
        padding: 8px 15px;
        font-weight: 400;
        font-size: 13px;
        margin: 12px 0 0;
        box-shadow: none;
        color: #333;
        height: 44px;
    }

    .form-group textarea {
        float: left;
        width: 100%;
        border-radius: 0;
        border: solid #ccc 1px;
        padding: 8px 15px;
        font-weight: 400;
        font-size: 13px;
        margin: 12px 0 0;
        box-shadow: none;
        color: #333;
        height: 90px;
    }

.img-fluid {
    max-width: 100%;
    height: auto
}

.show {
    display: block;
}

.table {
    width: 100%;
    text-align: center;
}

    .table th,
    .table td {
        vertical-align: middle;
        text-align: center;
    }

.product-thumbnail img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.product-quantity {
    text-align: center;
}

    .product-quantity .input-group {
        justify-content: center;
    }
